.ceo{
    color: #858585;
}

.bg-custom-gray{
    background: #FEEBEE;
}

.cus-height{
    height: 14px;
}

.cus-notify-h2{
    font-size: 24px;
}

.cus-notify-text{
    color: #595959;
    font-size: 16px;
}